<a href="https://colab.research.google.com/github/Javierm748/Fake_news_detection/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# description: this program detects real (0) and fake (1) news

In [10]:
# Import the libraries
import numpy as np
import pandas as pd
import nltk
from nltk.corpus import stopwords
import string

In [11]:
# Load the data
from google.colab import files
files.upload()

Saving Fake.csv to Fake.csv

In [12]:
df = pd.read_csv('Fake.csv')
df.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,title,text,subject,date,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166,Unnamed: 167,Unnamed: 168,Unnamed: 169,Unnamed: 170,Unnamed: 171
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,31-Dec-17,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,31-Dec-17,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,30-Dec-17,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,29-Dec-17,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,25-Dec-17,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
# Number of rows and columns in a data sed
df.shape

(23502, 172)

In [14]:
# Checking for duplicates that will allow us to remove the duplicates
df.drop_duplicates(inplace = True)
df.shape

(23489, 172)

In [15]:
# Show number or missing values/data for each column 
df.isnull().sum()

title               0
text                0
subject            11
date               11
Unnamed: 4      23468
                ...
Unnamed: 167    23487
Unnamed: 168    23487
Unnamed: 169    23487
Unnamed: 170    23487
Unnamed: 171    23487
Length: 172, dtype: int64

In [16]:
# Removing the missing values from the data set
df.dropna(axis=0, inplace = True)
df.shape

(2, 172)

In [17]:
# Keep the values that we belive are important
# Combine important columns
# df['combined'] = df['title'] + ' ' + df['text'] + ' ' + df['date']
# df.head()

In [18]:
# Downloading stopwords (stopwords in Natural Processing Language are useless words or data)
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [19]:
# Create a function to process the text, this will nemove punctuation and stopwords from the text, finally we will return a clean list of this clean text of words
# Declaring function
def process_text(text):
  # Iterating through the text to remove the punctuation
  nopunc = [char for char in text if char not in string.punctuation]
  # We are joining the characters back to create another string
  nopunc = ''.join(nopunc)

  # Next we want to remove any stopwords from the text
  # This will return words that are not in stopwords
  clean_words = [word for word in nopunc.split() if word.lower() not in stopwords.words('english')]

  return clean_words

In [20]:
df['combined'].head().apply(process_text)

KeyError: ignored